/*
 * SPDX-FileCopyrightText: 2020 Benedict Harcourt
 *
 * SPDX-License-Identifier: BSD-2-Clause
 */

script
{
	display: block;
	white-space: pre-wrap;
	font-family: monospace;
	border: 1px black solid;
	margin: 5px 50px;
}
